@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 0%; /* black bg */
    --foreground: 0, 4%, 73%;

    --muted: 0, 0%, 100%; /* white text */
    --muted-foreground: 0, 4%, 73%; /* #BDB8B8 text*/

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 0, 2%, 21%; /* border as light-brown */
    --border-secondary: rgba(75, 75, 75, 0.5); /* border as light-brown */
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0, 2%, 21%; /* secondary btn bg  */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --text-secondary: 0, 0%, 100%;

    /* Penumbra base color palette */
    --charcoal: #1d1d1d;
    --charcoal-secondary: #141010;
    --teal: #629994;
    --sand: #847a5b;
    --rust: #8d5728;
    --teal-700: rgba(139, 228, 217, 0.7);
    --sand-700: rgba(200, 184, 128, 0.7);
    --rust-600: rgba(255, 144, 47, 0.6);
    --teal-420: rgba(139, 228, 217, 0.42);
    --sand-420: rgba(200, 184, 128, 0.42);
    --rust-420: rgba(255, 144, 47, 0.36);
    --black: #000000;
    --green: #23be4e;
    --red: #af4545;
    --light-brown: #363434;
    --light-grey: #e3e3e3;
    --brown: rgba(29, 29, 29, 0.7);
  }
}

@font-face {
    font-family: 'Public Sans';
    src: url('./fonts/PublicSans-Regular.woff2') format('woff2'),
        url('./fonts/PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('./fonts/PublicSans-Italic.woff2') format('woff2'),
        url('./fonts/PublicSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('./fonts/PublicSans-Bold.woff2') format('woff2'),
        url('./fonts/PublicSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka';
    src: url('./fonts/Iosevka-Term-Italic.woff2') format('woff2'),
        url('./fonts/Iosevka-Term-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka';
    src: url('./fonts/Iosevka-Term.woff2') format('woff2'),
        url('./fonts/Iosevka-Term.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka';
    src: url('./fonts/Iosevka-Term-Bold.woff2') format('woff2'),
        url('./fonts/Iosevka-Term-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
